@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ag-ltr .ag-cell {
  font-size: 11px;
  font-weight: 400;
  color: #666;
}